a {
	color: #12C
}

a:visited {
	color: #61C
}

a:focus {
	outline: dotted thin
}

a:active, a:hover {
	color: #c00;
	outline: 0
}

code, pre {
	font-family: monospace, monospace;
	font-size: 1em
}

ol, ul {
	margin: 1em 0;
	padding: 0 0 0 20px
}

b, strong {
	font-weight: 700
}

.content {
	padding: 1em
}

.content li {
	list-style-type: none;
	font-size: 1.1em
}

li img {
	float: left;
	padding-right: 1em
}

li p {
	font-size: .9em
}

footer {
	padding: 0 .5em;
	border-top: 1px solid #ccc;
	max-width: 45em;
	margin: 0 auto
}

footer span {
	float: right
}

footer span, li p {
	font-style: italic
}

@media only screen and (max-width:480px) {
	body {
		font-size: 12px
	}

	header p {
		padding-left: 4.5em
	}

}
